.menu {
    top: 0;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    /* background-color: #A7C2D3; */
    background-color: #A7C2D3;
    border-bottom: px solid #b3cddd;
    height: 100px;
}

.menu_logo {
    /* width: 250px; */
    margin-top: 10px;
    width: 200px;
    height: fit-content;
}

.menu_regular {
    display: flex;
    margin-right: 160px;
}

.menu_element {
    display: flex;
    margin: 25px 50px;
    padding: 10px;
    list-style: none;
    /* border: 1px solid black; */
    align-items: center;
}

.refference {
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Gruppo', cursive;
    font-weight: 600;
    color: #902633;
    text-align: center;
}

.refference:hover {
    color: #902633;
    /* text-decoration: overline underline #e19240; */
    transform: scale(1.1);
    transition: 1s ease-in;
}

section {
    max-width: 80%;
    margin: auto;
    margin-top: 100px;
}

.section_heading {
    font-family: 'Gruppo', cursive;
    font-weight: 600;
    color: #902633;
    text-transform: uppercase;
}

.phoneContent {
    margin-top: 25px;
}


/* .slogans {
      height: 500px;
  } */

.video {
    margin-top: 80px;
}

#myVideo {
    /* top: -20px; */
    max-width: 70vw;
    max-height: 80vh;
    margin-left: -60px;
}

.phoneImg {
    display: flex;
    justify-content: center;
}

.phoneImgBack {
    width: 80vw;
    height: 90;
    position: absolute;
}

.container_about,
.container_technology {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 80px;
}

.about_text,
.about_image {
    width: 47%;
    height: 50%;
    align-self: center;
    font-family: 'Gruppo', cursive;
    font-weight: 500;
    font-size: 18px;
    color: black;
}

.about_heading {
    font-style: italic;
    font-weight: 600;
}

.technology_bold {
    font-weight: 600;
}

.technoligy_element {
    width: 30%;
    text-align: center;
}

.technoligy_element_text {
    font-family: 'Gruppo', cursive;
    font-weight: 500;
    font-size: 20px;
    color: black;
    text-align: center;
}

.technology_element_text_additional {
    margin-top: 50px;
}

.technoligy_element_image {
    width: 350px;
    margin-bottom: 50px;
}

.contact_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -ms-flex-line-pack: center;
    align-content: center;
    margin: 50px;
}

.contact_form_btn {
    border: none;
    background-color: #A7C2D3;
    color: black;
    font-size: 20px;
    height: 50px;
}

.contact_form_text {
    font-size: 20px;
}

.contact_heading {
    margin-top: 60px;
    text-align: center;
}

input,
textarea {
    width: 500px;
    margin: 20px;
    border: 1px solid black;
}

input {
    height: 40px;
}

textarea {
    height: 200px;
}

.footer {
    margin-top: 100px;
}

.footer_regular {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    align-items: center;
}

.footer_element {
    text-decoration: none;
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Gruppo', cursive;
    font-weight: 600;
    color: #902633;
    text-align: center;
}

.footer_element:hover {
    color: black;
}

.btnGoTop {
    background: transparent;
    color: #902633;
    padding: 15px 20px;
    margin: 25px;
    /* border-radius: 40px; */
    font-size: 20px;
    border: 1px solid #e19240;
    /* transform: rotate(270deg); */
}

.clickBtnGoTop {
    display: flex;
    display: none;
    position: fixed;
    bottom: 50px;
    right: 10px;
}

.btnGoTop:hover {
    cursor: pointer;
}

.slogan1 {
    position: absolute;
    opacity: 1;
}

.sloganImg {
    width: 180px;
}

.sloganPar {
    width: 180px;
    background-color: #A7C2D3;
    color: #902633;
    border: 2px solid #e19240;
    margin-top: 10px;
}