body {
    width: 100%;
}

.menu {
    top: 0;
    /* display: flex;
    flex-flow: row nowrap; */
    background-color: #a7c2d3;
    height: 100px;
}

.menu_logo {
    width: 150px;
    margin-top: 10px;
    /* width: 10vw; */
    height: fit-content;
}

.menu_regular {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu_element {
    display: flex;
    /* margin: 25px 50px; */
    padding: 10px;
    list-style: none;
    /* border: 1px solid black; */
    align-items: center;
}

.refference {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 20px;
    text-transform: uppercase;
    font-family: "Gruppo", cursive;
    font-weight: 600;
    color: #902633;
    text-align: center;
}

.refference:hover {
    color: #902633;
    /* text-decoration: overline underline #e19240; */
    transform: scale(1.1);
    transition: 1s ease-in;
}

.burger_menu {
    display: none;
}

.burger_menu_regular {
    display: flex;
    flex-direction: column;
    background-color: #a7c2d3;
    margin: 0;
    padding: 0;
}

.burger_menu_back {
    background-color: #a7c2d3;
}

.burger-menu_container {
    display: flex;
    justify-content: space-around;
    background: #a7c2d3;
    margin: 0;
    padding: 0;
}

.navbar {
    padding: 0;
    margin-top: -10px;
}

section {
    max-width: 80%;
    margin: auto;
    margin-top: 100px;
}

.section_heading {
    font-family: "Gruppo", cursive;
    font-weight: 600;
    color: #902633;
    text-transform: uppercase;
}


/* footer */

.footer {
    margin-top: 100px;
}

.footer_regular {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    align-items: center;
}

.footer_element {
    text-decoration: none;
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    font-family: "Gruppo", cursive;
    font-weight: 600;
    color: #902633;
    text-align: center;
}

.footer_element:hover {
    color: black;
}


/* btn goTop */

.btnGoTop {
    background: transparent;
    color: #902633;
    padding: 15px 20px;
    margin: 25px;
    /* border-radius: 40px; */
    font-size: 20px;
    border: 1px solid #e19240;
    /* transform: rotate(270deg); */
}

.clickBtnGoTop {
    display: flex;
    display: none;
    position: fixed;
    bottom: 50px;
    right: 10px;
}

.btnGoTop:hover {
    cursor: pointer;
}

@media all and (max-width: 1470px) {
    .refference {
        font-size: 15px;
        font-weight: 600;
    }
    .technoligy_element_text,
    p {
        font-size: 15px;
    }
    /* .about_heading,
    .technology_bold {
        font-size: 15px;
    } */
}

@media all and (max-width: 1100px) {
    .footer_element {
        font-size: 10px;
    }
    .contact_and_map {
        display: flex;
        flex-direction: column;
    }
    .map_info {
        text-align: center;
    }
    .wrapper {
        min-height: 80vh;
    }
}

@media all and (max-width: 850px) {
    .container_about {
        flex-direction: column;
    }
    .about_text {
        margin-top: 50px;
        width: 80%;
        text-align: justify;
    }
    .refference {
        font-size: 12px;
        padding: 10px;
    }
    .section_heading {
        font-size: 15px;
    }
    .contact_form_text,
    .contact_form_btn {
        font-size: 15px;
    }
    .clickBtnGoTop,
    .btnGoTop {
        display: none;
    }
    .wrapper {
        min-height: 70vh;
    }
}

@media all and (max-width: 800px) {
    .hidden_on_small {
        display: none;
    }
    .technology_side_image {
        height: 210px;
        width: 350px;
        margin: 20px 0;
    }
    .pictures_container_side {
        flex-direction: column;
    }
    .technology_advantages {
        margin: 30px 0;
    }
}

@media all and (max-width: 675px) {
    .container_technology {
        flex-direction: column;
        align-items: center;
    }
    .technoligy_element,
    .technoligy_element_image {
        width: 80%;
    }
    input,
    textarea {
        width: 300px;
    }
    .burger_menu {
        display: block;
    }
    .contact_and_map {
        margin: auto;
    }
    .menu {
        display: none;
    }
    .map_info {
        margin: auto;
    }
    .map {
        width: 65vw;
        height: 40vh;
    }
    .wrapper {
        min-height: 70vh;
    }
}

@media all and (max-width: 550px) {
    .map_info {
        width: 80%;
    }
    .wrapper {
        min-height: 50vh;
    }
    .pictures_container_image {
        width: 300px;
    }
    .technology_side_image {
        width: 300px;
    }
}