.phoneContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.video {
    margin-top: 14.5vh;
}

#myVideo {
    /* max-width: 65vw;*/
    height: 65vh;
    margin-left: -55px;
    position: relative;
}

.phoneImg {
    display: flex;
    justify-content: center;
    width: 100%;
}

.btnSlider {
    font-size: 30px;
    font-weight: 800;
    background-color: transparent;
    border: none;
    align-self: center;
    margin: 22% 5%;
}

.phoneImgBack {
    margin-top: 70px;
    width: 74vw;
    position: absolute;
}

.wrapper {
    min-height: 100vh;
}

.slogans {
    margin-top: 0;
    display: flex;
    flex-direction: column;
}

.slogan {
    margin-top: 50px;
}

.slogan_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -20px;
}

.slogan_element {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.slogan_icon {
    width: 70px;
    margin: auto;
    margin-bottom: 20px;
}

.slogan_inner {
    list-style: none;
    margin: auto;
    width: 250px;
    display: flex;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.container_about,
.container_technology {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 80px;
}

.about_text,
.about_image {
    width: 47%;
    height: 50%;
    align-self: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: black;
}


/* .about_heading {
    font-style: italic;
    font-weight: 600;
    font-family: 'Gruppo', cursive;
    font-size: 25px;
} */

.about_heading,
.technology_bold {
    font-weight: 600;
    font-family: 'Gruppo', cursive;
    font-size: 20px;
    margin-bottom: 10px;
}

.technoligy_element {
    width: 30%;
    text-align: center;
}

.technoligy_element_text {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: black;
    text-align: center;
}

.technology_element_text_additional {
    margin-top: 50px;
}

.technoligy_element_image {
    /* width: 350px; */
    width: 20vw;
    margin-bottom: 50px;
}

.contact_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -ms-flex-line-pack: center;
    align-content: center;
    margin: 50px;
}

.contact_form_btn {
    border: none;
    background-color: #A7C2D3;
    color: black;
    font-size: 20px;
    height: 50px;
}

.contact_form_text {
    font-size: 20px;
}

.contact_heading {
    margin-top: 60px;
    text-align: center;
}

input,
textarea {
    width: 500px;
    margin: 20px;
    border: 1px solid black;
}

input {
    height: 40px;
}

textarea {
    height: 200px;
}

.contact_and_map {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.map_info {
    margin-top: 86px;
}

.map {
    width: 450px;
    height: 350px;
}